@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');



:root {
     --banner: linear-gradient(90deg, rgba(143, 32, 148, 1) 35%, rgba(66, 138, 201, 1) 100%);
     /* progress bar three colors */
     --col_prog_red: #c41552;
     --col_prog_yellow: #eeec47;
     --col_prog_green: #24d571;
     /* identity color   */
     --col_blue: #0f6dbe;
     --col_dark_blue: #0f0553;
     --col_ligh_blue: #36c7f6;

}

html {
     font-family: 'Open Sans', sans-serif;
  
}

.banner {
     width: 101%;
     height: 120px;
     background: var(--banner);
     border-radius: 5px;

}

.logo img {
     width: 120px;
     z-index: 900;
     padding: 2px;
     background-color: rgb(255, 255, 255);
     border-radius: 0 5px 5px 0;


}

.title h1 {
     margin-top: 2rem;
     font-weight: 400;
}

.date {
     font-weight: bold;

}

.financial {
     position: relative;
     flex-wrap: wrap;
     padding-top: 25px;
     width: 100%;
     min-height: 200px;
     background-color: rgb(219, 222, 222);
     border-radius: 15px;
     
}

.ficon {
     position: absolute;
     left: 0;
     top: 0;
     transform: translate(-90px, 30px);
     color: var(--col_dark_blue);
     z-index: -5;
     opacity: 0.2;
     transition: 2s;
}

.financial:hover .ficon {
     opacity: 0.6;
}

.fcard {
     position: relative;
     min-width: 170px;
     height: 170px;
     margin-bottom: 15px;
     background-color: rgb(255, 255, 255);
     border-radius: 20px;
     box-shadow: 5px 9px 23px -9px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: 5px 9px 23px -9px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 5px 9px 23px -9px rgba(0, 0, 0, 0.75);
     transition: 1s;

}

.fcard:hover {
     box-shadow: 10px 10px 12px 1px rgba(47,53,189,0.75);
     -webkit-box-shadow: 10px 10px 12px 1px rgba(47,53,189,0.75);
     -moz-box-shadow: 10px 10px 12px 1px rgba(47,53,189,0.75);
}

.card_title {
     position: absolute;
     width: 40%;
     top: 0;
     left: 0;
     transform: translate(5px, 5px);
     font-size: 1.1rem;
     font-family: 'Open Sans', sans-serif;
     font-weight: 900;
     color: #0f055377;
}

.card_target {
     position: absolute;
     width: 50%;
     top: 40%;
     left: 10px;
     font-size: 1.6rem;
     font-weight: 700;
     color: var(--col_blue);
}

.progress_bar {
     position: absolute;
     top: 30px;
     right: 50px;
     width: 30px;
     height: 100px;
     background-color: rgb(255, 255, 255);
     border: #a9a9a9 solid 1px;
     border-radius: 20px;

     /* overflow: hidden; */
}

.progress_value {
     position: absolute;
     bottom: 0;
     right: 0;
     width: 28.5px;
     font-weight: bold;
     font-size: 1.1rem;
     letter-spacing: 2px;;
     background-color: var(--col_prog_red);
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
     transition: 1s;
}

.progress_value:before {
     content: attr(num_value);
     position: absolute;
     top: -5px;
     right: -15px;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 5px 10px 5px 0;
     border-color: transparent #000000 transparent transparent;
}

.btn-link {
     position: absolute;
     bottom: 0;
     right: 0;

}

/* project cards*/
.card_upper{
     position: absolute;
     height: 25%;
     width:100%;
     top:0;
     background-color:var(--col_blue) ;  
     border-radius: 20px 20px 0 0;
    text-align: center;
    padding-top: 10px;;
}
.card_upper p{
     color: aliceblue;
     font-size: large;
     font-weight:bold;
}

@media screen and (max-width: 900px) {

     .banner {
          position: relative;
          flex-direction: column-reverse;
          align-items: center;
          background: white;

     }

     .title h1,
     .date {
          padding-right: 70px;
          font-size: large;
          font-weight: bold;
          color: #000000;

     }

     .logo img {
          position: absolute;
          right: 0;
          top: 0;
          width: 80px;
     }

     .financial {
          flex-direction: column;
          height: 100%;
          padding: auto;
          gap: 15px;
          border-radius: 10px;
     }

     .ficon {
          opacity: 0;
     }

     .fcard {
          margin: auto;
          margin-bottom: 15px;
          ;
     }
}


@media print {
     @page {
          size: landscape;
          margin: 5px;
          box-shadow: 0;
     
     }
     .container{
          margin:0;
     }
     .banner{
         margin-left: 50px;
     }
     .logo img {
          width: 130px;
     }

 .fcard{
     box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.75);
     -webkit-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.75);
 }

     .card_title {
       
          color: #0f0553;
     }
     
     .btn-link{
          visibility: hidden;
     }

     .ficon {
          visibility: collapse;
     }
  



}